doctype html
head
    title="Clasificador de material"
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/collapsible.css')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/clasificador.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        const Keys = !{JSON.stringify(keys)};
    script.
        const Facultades = !{JSON.stringify(facultades)};
    script.
        const Cursos = !{JSON.stringify(cursos)};
body
    h2 Clasificador de material
    button.collapsible Botones
    div.content
        button(onclick="window.location='/'") Inicio 🏠

    script.
        function PopulateCursos(Key) {
            const selectFacultad = document.getElementById(Key + '-Facultad');
            const selectCurso = document.getElementById(Key + '-Curso');
            selectCurso.options.length = 0;
            const i = Facultades.indexOf(selectFacultad.value);
            const cursos = Cursos[i];
            for (let j = 0; j < cursos.length; j++) {
                const curso = cursos[j];
                const Codigo = curso['Codigo'];
                const Nombre = curso['Nombre'];
                selectCurso.options[j] = new Option(Nombre, Codigo);
            }
        }
        function Disable(Key) {
            document.getElementById(Key + '-Anchor').href = '';
            document.getElementById(Key + '-Facultad').setAttribute('disabled', '');
            document.getElementById(Key + '-Curso').setAttribute('disabled', '');
            document.getElementById(Key + '-Carpeta').setAttribute('disabled', '');
            document.getElementById(Key + '-Nombre').setAttribute('disabled', '');
            document.getElementById(Key + '-Number').setAttribute('disabled', '');
            document.getElementById(Key + '-Extension').setAttribute('disabled', '');
            document.getElementById(Key + '-Submit').setAttribute('disabled', '');
            document.getElementById(Key + '-Delete').setAttribute('disabled', '');
        }
        function PostRequest(Key) {
            const Facultad = document.getElementById(Key + '-Facultad').value;
            const Curso = document.getElementById(Key + '-Curso').value;
            const Carpeta = document.getElementById(Key + '-Carpeta').value;
            const Nombre = document.getElementById(Key + '-Nombre').value;
            const Pagina = document.getElementById(Key + '-Number').value;
            const Extension = document.getElementById(Key + '-Extension').value;
            if (!Facultad || !Curso || !Carpeta || !Nombre || !Pagina || !Extension) throw new Error('Solicitud invalida!');
            const NewKey = `${Facultad}/${Curso}/${Carpeta}/${Nombre}-${Pagina}${Extension}`;
            if (!confirm(`Desea mover el archivo a ${NewKey}?`)) return;
            $.post('/admin/clasificador?action=move', {Key, NewKey})
                .done(function () {
                    Disable(Key);
                    alert('Operacion exitosa!');
                })
                .fail(function (e) {
                    console.log(e);
                    alert('Error!');
                })
        }
        function DeleteEntry(Key) {
            const name = Key.split('/').pop();
            if (!confirm(`Desea eliminar ${name}?`)) return;
            $.post('/admin/clasificador?action=delete', {Key})
                .done(function () {
                    Disable(Key);
                    alert('Operacion exitosa!');
                })
                .fail(function (e) {
                    console.log(e);
                    alert('Error!');
                })
        }

        const Folders = Keys.map(function (key) {
            const lista = key.split('/');
            return lista[lista.length - 2];
        }).filter(function (v, i, self) {
            return self.indexOf(v) === i;
        });
        const OpcionesCarpetas = [1, 2, 3, 4, 5].map(function (num) {
            return num + 'pc';
        });
        OpcionesCarpetas.push('examen-parcial');
        OpcionesCarpetas.push('examen-final');
        OpcionesCarpetas.push('sustitutorio');
        OpcionesCarpetas.push('entrada');
        OpcionesCarpetas.push('material-adicional');
        const firstRow = document.createElement('tr');
        const columns = [
            document.createElement('th'),
            document.createElement('th'),
            document.createElement('th'),
            document.createElement('th'),
            document.createElement('th'),
            document.createElement('th'),
            document.createElement('th')
        ];
        columns[0].innerText = 'Material';
        columns[1].innerText = 'Facultad';
        columns[2].innerText = 'Curso';
        columns[3].innerText = 'Carpeta';
        columns[4].innerText = 'Archivo-Pagina-Extension';
        columns[5].innerHTML = 'Submit';
        columns[6].innerHTML = 'Delete';
        for (let column of columns) firstRow.appendChild(column);

        for (let folder of Folders) {
            const button = document.createElement('button');
            button.classList.add('collapsible');
            button.textContent = folder;
            document.body.append(button);
            const MatchingKeys = Keys.filter(function (ruta) {
                return ruta.indexOf(folder) >= 0;
            });
            const content = document.createElement('div');
            content.classList.add('content');
            const table = document.createElement('table');
            table.appendChild(firstRow);
            for (let key of MatchingKeys) {
                const nthRow = document.createElement('tr');
                const Form = document.createElement('form');
                Form.action = '/admin/clasificador';
                Form.method = 'POST';
                key = '' + key;
                const fileName = key.split('/').pop();
                const ext = '.' + fileName.split('.').pop();
                const name = fileName.substr(0, fileName.lastIndexOf('.'));
                const Columns = [
                    document.createElement('td'),
                    document.createElement('td'),
                    document.createElement('td'),
                    document.createElement('td'),
                    document.createElement('td'),
                    document.createElement('td'),
                    document.createElement('td')
                ];
                const anchor = document.createElement('a');
                anchor.id = key + '-Anchor';
                anchor.innerText = name.length > 20 ? name.substr(0, 17) + '...' : name;
                anchor.setAttribute('href', '/admin/API?action=download&key=' + key);
                anchor.setAttribute('download', fileName);
                Columns[0].innerHTML = anchor.outerHTML;
                const selectFacultad = document.createElement('select');
                selectFacultad.classList.add('SelectFacultad');
                selectFacultad.id = key + '-Facultad';
                selectFacultad.name = 'Facultad';
                selectFacultad.setAttribute('onchange', `PopulateCursos('${key}')`);
                for (let i = 0; i < Facultades.length; i++) {
                    const facultad = '' + Facultades[i];
                    selectFacultad.options[i] = new Option(facultad, facultad);
                }
                Columns[1].innerHTML = selectFacultad.outerHTML;
                const selectCurso = document.createElement('select');
                selectCurso.classList.add('SelectCurso');
                selectCurso.id = key + '-Curso';
                selectCurso.name = 'Curso';
                Columns[2].innerHTML = selectCurso.outerHTML;
                const selectCarpeta = document.createElement('select');
                selectCarpeta.classList.add('SelectCarpeta');
                selectCarpeta.id = key + '-Carpeta';
                selectCarpeta.name = 'Carpeta';
                for (let i = 0; i < OpcionesCarpetas.length; i++) {
                    const carpeta = OpcionesCarpetas[i];
                    selectCarpeta.options[i] = new Option(carpeta, carpeta);
                }
                Columns[3].innerHTML = selectCarpeta.outerHTML;
                const textNombre = document.createElement('input');
                textNombre.classList.add('InputNombre');
                textNombre.id = key + '-Nombre';
                textNombre.type = 'text';
                textNombre.placeholder = name;
                textNombre.name = 'Archivo';
                const page = document.createElement('input');
                page.classList.add('InputPagina');
                page.id = key + '-Number';
                page.type = 'number';
                page.name = 'Pagina';
                page.setAttribute('value', '1');
                const extension = document.createElement('input');
                extension.classList.add('InputExt');
                extension.id = key + '-Extension';
                extension.type = 'text';
                extension.name = 'Extension';
                extension.setAttribute('value', ext);
                extension.readOnly = true;
                Columns[4].appendChild(textNombre);
                Columns[4].appendChild(page);
                Columns[4].appendChild(extension);
                const submit = document.createElement('button');
                submit.id = key + '-Submit';
                submit.textContent = 'Enviar';
                submit.setAttribute('onclick', `function () {PostRequest('${key}')}`);
                Columns[5].innerHTML = submit.outerHTML;
                const del = document.createElement('button');
                del.id = key + '-Delete';
                del.textContent = 'Eliminar';
                del.setAttribute('onclick', `function () {DeleteEntry('${key}')}`);
                Columns[6].innerHTML = del.outerHTML;
                for (let column of Columns) Form.appendChild(column);
                nthRow.innerHTML = Form.outerHTML;
                table.appendChild(nthRow);
            }
            content.innerHTML = table.outerHTML;
            document.body.appendChild(content);
        }
        for (let Key of Keys) {
            PopulateCursos(Key);
        }

        const coll = document.getElementsByClassName("collapsible");
        for (let i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

