doctype html
head
    title="Clasificador de material"
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/collapsible.css')

h2(align='center') Clasificador de material
button.collapsible Botones
div.content
    div
        button(onclick=`window.location='/admin/clasificador?tipo=${Tipo}&page=${Pagina == 0 ? 0 : Pagina - 1}'`) Anterior ⬅
        button(onclick="window.location='/'") Inicio 🏠
        button(onclick=`window.location='/admin/clasificador?tipo=${Tipo}&page=${parseInt(Pagina) + 1}'`) Siguiente ➡
    div
        button(onclick=`window.location='/admin/clasificador?tipo=image&page=0'`) Imagen
        button(onclick=`window.location='/admin/clasificador?tipo=audio&page=0'`) Audio
        button(onclick=`window.location='/admin/clasificador?tipo=video&page=0'`) Video
        button(onclick=`window.location='/admin/clasificador?tipo=file&page=0'`) Archivo
        button(onclick=`window.location='/admin/clasificador?tipo=none&page=0'`) None
button.collapsible Material
div.content
    p.center #{Ruta}
    img#material.center(src=Material)
button.collapsible Ruta
div.content
    form(action=`/admin/clasificador?action=move&tipo=${Tipo}&page=${Pagina}`, method="POST")
        label Facultad:
        div.form__field
            select(id="facultad", name="facultad")
        label Curso:
        div.form__field
            select(id="curso", name="curso")
            input.opcional(type="text", id="curso_escrito", name="curso_opcional", placeholder="Nuevo curso")
        label Carpeta:
        div.form__field
            select(id="carpeta", name="carpeta")
            input.opcional(type="text", id="carpeta_escrita", name="carpeta_opcional", placeholder="Nueva carpeta")
        label Archivo:
        div.form__field
            input.form__input(type="text", id="archivo", name="archivo", placeholder="Nuevo archivo")
            label -
            input.form__input(type="number", id="archivo_pagina", name="pagina", value="1")
            input.form__input.non__editable(type="text", id="extension", name="extension", placeholder=".jpg", readonly=true)
        input(type="hidden", name="ruta", value=Ruta)
        div.form__field
            input(type="submit", value="Cambiar ruta")
    form(action="/admin/clasificador?action=delete&tipo=${Tipo}&page=${Pagina}", method="POST")
        input(type="hidden" , value=Ruta, name="ruta")
        div.form__field
            input(type="submit", value="Eliminar", id="eliminar")

script.
    const extension = document.getElementById("extension");
    let ruta = "#{Ruta}";
    let index = ruta.indexOf(".");
    let ext = ~index ? ruta.substr(index) : "";
    extension.value = ext;
    const coll = document.getElementsByClassName("collapsible");
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    let facultades = !{facultades};
script(src="/public/javascripts/dynamicDropDown.js")
