doctype html
head
    title="Clasificador"
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/clasificacion.css')

h2(align='center') Clasificador de material
button.collapsible Material
div.content
    img(src= Material, id="material", class="center")
button.collapsible Ruta
div.content
    form(action="./clasificacion?action=move", method="POST")
        label Facultad:
        div.form__field
            select(id="facultad", name="facultad")
        label Curso:
        div.form__field
            select(id="curso", name="facultad")
            input.opcional(type="text", id="curso_escrito", name="curso_opcional", placeholder="Nuevo curso")
        label Carpeta:
        div.form__field
            select(id="carpeta")
            input.opcional(type="text", id="carpeta_escrita", name="carpeta_opcional", placeholder="Nueva carpeta")
        label Archivo:
        div.form__field
            input.form__input(type="text", id="archivo", name="archivo", placeholder="Nuevo archivo")
            label -
            input.form__input(type="number", id="archivo_pagina", name="archivo_pagina", value="1")
            input.form__input.non__editable(type="text", id="extension", name="extension", placeholder=".jpg", readonly=true)
        input(type="hidden", name="ruta", value=Ruta)
        div.form__field
            input(type="submit", value="Cambiar ruta")
    form(action="./clasificacion?action=delete", method="POST")
        input(type="hidden" , value=Ruta)
        div.form__field
            input(type="submit", value="Eliminar", id="eliminar", name="ruta")
script.
    const extension = document.getElementById("extension");
    let ruta = "#{Ruta}";
    let index = ruta.indexOf(".");
    let ext = ~index ? ruta.substr(index) : "";
    extension.value = ext;
    const coll = document.getElementsByClassName("collapsible");
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    let facultades = !{facultades};
script(src="/public/javascripts/dynamicDropDown.js")
